<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Welcome to my Blog !</a></h1>
        </div>

        <div>
            <p>My commit</p>
            <h2><a href="">My first post</a></h2>
            <p><strong>First Commit</strong></p>
        </div>

        <div>
            <p>Change pushed </p>
            <h2><a href="">My second post</a></h2>
            <p><strong>Is this working ?</strong></p>
        </div>
    </body>
</html>