<html>
    <head>
        <title>NaMo</title>
    </head>
    <body>
        <div>
            <h1><a href="/">BJP</a></h1>
        </div>

        <div>
            <p>published: 09.04.2019, 13:01</p>
            <h2><a href="">My first post</a></h2>
            <p><strong>Har Har Modi , Har Ghar Modi.</strong></p>
        </div>

        <div>
            <p>published: 09.04.2019, 13:01</p>
            <h2><a href="">My second post</a></h2>
            <p><strong>#ModiHaiTohMumkinHai</strong></p>
        </div>
    </body>
</html>